.search-area {
    width: 100%;
    text-align: center;
    align-items: center;
}

.navbar-search-input {
    padding: 8px 20px;
    outline: none;
    font-size: 20px;
    margin-bottom: 16px;
    border: 2px solid #252e48;
    box-sizing: border-box;
}

.navbar-select-input{
    padding: 8px 20px;
    outline: none;
    font-size: 19px;
    margin-bottom: 16px;
    border: 2px solid #252e48;
    box-sizing: border-box;
}

.btn {
    font-size: 19px;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    margin: 2px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #242424;
    border: 1px solid #ffffff;
}
